include ./../_includes/_mixins.pug
doctype html
block vars
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    +titlemeta(page.title, site.title)
    link(href=site.base + '/styles/main.css', rel='stylesheet')
    block styles
  body#top
      block header
      block content
      block footer
      block scripts