extends ./_layout-root.pug

block header
  header.container
    h1= site.title
    +menu(data.menu.main, 'menu')

block footer
  footer.container
     p &copy; <a href="#{site.base + '/'}">#{site.title}</a> - Built with <a href="https://mmpilot.kunruchcreations.com/" target="_blank">MMPilot</a>

block content
  .container!= page.content