@import "vars";


img {
  max-width: 100%;
}

.site-header {
  position: relative;
}

.site-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-description {
  display: block;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}


.is-compact .mdl-layout__title span {
  display: none;
}

.site-logo-row {
  min-height: 200px;
}


.is-compact .site-logo-row {
  min-height: auto;
}


.site-logo {
  background: url(../img/site-logo.png) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 0;
}

.is-compact .site-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}


.site-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;

  .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
  }

  .mdl-navigation__link {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 42px;
          color: #fff;
  }

  .is-active {
    position: relative;
    font-weight: bold;
    opacity: 1;
  }

  .mdl-navigation__link:hover {
    opacity: 1;
  }

}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #fff;
}

.mdl-layout__content {
  background-color: #eceff1;
}


.site-content {
  margin: 1em auto;
  padding-bottom: 2em;
  min-height: 580px;
}

.site-max-width {
  max-width: 900px;
  margin: auto;
}

.site-copy {
  max-width: 700px;
}


footer {
  .mdl-mini-footer__left-section a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
  }
}